#behaviors {
#  rgb_default: rgb_default {
#    compatible = "zmk, behaviour-rgb-underglow";
#    label = "RGB_DEFAULT";
#    cmd = <RGB_ON>;
#    hue = <25>;
#    sat = <100>;
#    bri = <90>;
#    effect = <0>; /* 0 = solid */
#  };
#};
